.page-container {
  width: 100%;
}

/* Banner section */
.banner {
  padding: 2rem 0;
  background: url("/public/images/ayurveda-banner.jpg") no-repeat 0 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.banner-logo-text {
  text-align: center;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 600;
}

.banner-slogan {
  font-size: 1.5rem;
  font-weight: 400;
}

.banner-discount {
  font-size: 2rem;
  font-weight: 500;
}

.banner-discount span {
  font-weight: 700;
}

.banner-shop-btn {
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  color: var(--text-color-white);
  font-size: 1.25rem;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.banner-shop-btn:hover {
  background: transparent;
  color: var(--primary-color);
}

@media only screen and (max-width: 550px) {
  .banner-title {
    font-size: 2.5rem;
  }

  .banner-slogan {
    font-size: 1rem;
  }

  .banner-discount {
    font-size: 1.5rem;
  }

  .banner-shop-btn {
    font-size: 1rem;
  }
}

/*Featured Section*/
.featured-title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}

.half-border {
  margin: auto;
  width: 25%;
  height: 0.25rem;
  background: var(--primary-color);
}

.featured-category-section {
  padding: 2rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-card {
  padding: 1rem;
  width: 15.5rem;
  height: 16.5rem;
  border-radius: 1rem;
  box-shadow: 5px 2px 15px var(--shadow-color);
  transition: transform 0.4s;
  cursor: pointer;
}

.featured-card:hover {
  transform: scale(1.1);
}

.featured-card-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

/*Featured brand section*/
.features-brand-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 3rem auto;
}

.features-brand-section img {
  width: 12.5rem;
  height: auto;
  transition: transform 0.4s;
}

.features-brand-section img:hover {
  transform: scale(1.1);
}
