/* Navbar styles */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: var(--pure-white-color);
  box-shadow: 0px 0px 0.5rem var(--text-color-light);
  z-index: 5;
}

.navbar-ayumall-logo {
  width: 6rem;
}

.navbar-left-items {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-left-items div,
.navbar-right-items div,
.mobile-nav-container div,
.mobile-nav-menu-container div {
  cursor: pointer;
}

.navbar-left-items a:hover {
  color: var(--primary-color);
}

.navbar-menu-icon {
  display: none;
}

.navbar-right-items {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-search-container {
  position: relative;
}

.navbar-search-container i {
  color: var(--primary-color);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.navbar-search-results {
  background-color: var(--pure-white-color);
  position: absolute;
  width: 100%;
  top: 0.75rem;
  z-index: -1;
  padding-top: 1.5rem;
}

.navbar-search-results div {
  padding: 0.25rem 0.5rem;
}

.navbar-search-results div:hover {
  background-color: var(--light-gray-bg);
}

.navbar-search {
  width: 16rem;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  outline: none;
}

.navbar-search:hover {
  border: 2px solid var(--primary-color);
}

.nav-icon-link {
  text-align: center;
}

.nav-icon-link i {
  font-size: 1.2rem;
}

.nav-icon-name {
  display: block;
  font-size: 0.75rem;
}

.mob-navbar-search-container {
  display: none;
  position: relative;
  margin: 4px;
}

.mob-navbar-search-container i {
  color: var(--primary-color);
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.mob-navbar-search {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  outline: none;
}

.mob-navbar-search-results {
  background-color: var(--pure-white-color);
  position: absolute;
  width: 100%;
  top: 2rem;
  z-index: 1;
}

.mob-navbar-search-results div {
  padding: 0.25rem 0.5rem;
}

.mob-navbar-search-results div:hover {
  background-color: var(--light-gray-bg);
}

@media only screen and (max-width: 798px) {
  .navbar-menu-icon {
    display: block;
  }

  .navbar-search-container {
    display: none;
  }

  .mob-navbar-search-container {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .nav-icon-link-login {
    display: none;
  }
}

.mobile-nav {
  position: fixed;
  width: 12.5rem;
  height: 100vh;
  top: 0;
  background: var(--pure-white-color);
  box-shadow: 0px 0px 0.5rem var(--text-color-light);
  display: none;
  z-index: 6;
}

.mobile-nav-display {
  display: block;
}

.mobile-nav-close {
  font-size: 1.5rem;
  position: fixed;
  left: 10rem;
  top: 1rem;
}

.mobile-nav-login {
  padding: 1rem;
  font-size: 4rem;
  background: var(--text-color-light);
}

.mobile-nav-menu-container {
  padding: 1rem 0.5rem;
}

.mobile-nav-menu {
  padding: 0.25rem;
  margin: 0.75rem;
}

.mobile-nav-menu:hover {
  font-weight: bold;
}
